.left-section-container {
  width: 21%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem;
  position: relative;
  margin-left: 1rem;

}
