.profile-section-container{
    width: 60%;
    height: 100vh;
    // border: 1px solid red;
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;  
 
    
   

}